*{
    margin: 0;
    padding: 0;
}
.section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://unsplash.com/photos/deaqEVtdSgk/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM1MzIzODc1&force=true&w=1920");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
}
.time{
    color: white;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 150px;
    width: 150px;
}
.date{
    z-index: 2;
    box-shadow: 0 0 20px white;
    background-color: red;
    transform: rotate(-35deg);
    position: absolute;
    top: 25px;
    left: 0;
    color: white;
}
.zone{
    margin-top: 20px;
    position: absolute;
    top: 70%;
    color: white;
    font-weight:bolder;
    font-size: 30px;
}
select{
    color:blue;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
}
.zone-item{
    text-align: center;
}
option{
    color: red;
    font-size: 20px;
}
@media (max-width:600px)
{
    select{
        font-size: 35px;
    }
}